* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display:block;
    height: 8vh;
    width: 100vw;
    background-color: #588157;
    /* border-style: groove;
    border-color: #344e41; */
}

header {
    display:flex;
    height: 20vh;
    width: 100vw;
    background-color: #adc178;
    /* border-style: groove;
    border-color: #344e41; */
}

main {
    display:flex;
    height: 65vh;
    width: 100vw;
    background-color: #f0ead2;
    border-style: inset;
    border-color: #f0ead2;
}

footer {
    display:flex;
    height: 7vh;
    width: 100vw;
    background-color: #6c584c;
    /* border-style: groove;
    border-color: #344e41; */
}